<div class="container">

    <div class="row mt-3">
        <div class="col">
            <h1>Agregar Artista</h1>
        </div>
    </div>

    <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="guardar()" >
        <div class="row">
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label>Nombre artista: </mat-label>
                    <input matInput formControlName="nombre"  />
                </mat-form-field>
                <!-- <div *ngIf="(nombre?.dirty || nombre?.touched) && nombre?.errors">
                    <mat-error *ngIf="nombre?.errors?.['required']">El nombre de la categoria es requerido</mat-error>
                    <mat-error *ngIf="nombre?.errors?.['minLength']">El nombre de la categoria debe contener al menos 5 caracteres</mat-error>
                    <mat-error *ngIf="nombre?.errors?.['maxLength']">El nombre de la categoria no debe superar los 100 caracteres</mat-error>
                </div> -->
                <mat-form-field class="w-100">
                    <mat-label>Genero: </mat-label>
                    <input matInput formControlName="genero"  />
                </mat-form-field>
                <!-- <div *ngIf="(genero?.dirty || genero?.touched) && genero?.errors">
                    <mat-error *ngIf="genero?.errors?.['required']">El nombre de la categoria es requerido</mat-error>
                    <mat-error *ngIf="genero?.errors?.['minLength']">El nombre de la categoria debe contener al menos 5 caracteres</mat-error>
                    <mat-error *ngIf="genero?.errors?.['maxLength']">El nombre de la categoria no debe superar los 100 caracteres</mat-error>
                </div> -->
                <mat-form-field class="w-100">
                    <mat-label>Albunes: </mat-label>
                    <input matInput formControlName="albunes"  />
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="formulario.invalid"
                class="me-5">
                Guardar <mat-icon>save</mat-icon>
            </button>
            <button
                    mat-raised-button
                    color="secondary"
                    [routerLink]="['/artistas']"
                    type="button">
                    Regresar <mat-icon>close</mat-icon>
                </button>

            </div>
        </div>
    </form>
</div>
