<div class="container">
    <div class="row mt-3">
      <div class="col">
        <h1>Registro</h1>
      </div>
    </div>
    <form
      [formGroup]="formulario"
      autocomplete="off"
      (ngSubmit)="register()" >
      <div class="row">
        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>Correo Electrónico: </mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <div *ngIf="(email?.dirty || email?.touched) && email?.errors">
            <mat-error *ngIf="email?.errors?.['required']">
              El correo electrónico del usuario es requerido
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
              El correo electrónico del usuario debe ser válido.
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="w-100">
            <mat-label>Contraseña: </mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>
          <div *ngIf="(password?.dirty || password?.touched) && password?.errors">
            <mat-error *ngIf="password?.errors?.['required']">
              La contraseña es requerida.
            </mat-error>
            <mat-error *ngIf="password?.errors?.['minlength']">
              La contraseña debe contener al menos 4 caracteres.
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="formulario.invalid"
            class="me-5">
            Registrarse <mat-icon>how_to_reg</mat-icon>
          </button>
          <button
            mat-raised-button
            color="secondary"
            [routerLink]="['/login']"
            type="button">
            Regresar <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
